
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary {
  background: #4477CE;
}

.secondary {
  background-color: transparent;
  border: 1px solid #424242;
}

.large {
  padding: 15px 32px;
}

.medium {
  padding: 10px 30px;
  width: 20%;
}